/* xsmall */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.nested-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nested-row .box{
  background-color: green;
}

[class*="col-"]{
  flex: 0 0 auto;
}


.xs{
  flex-basis: calc((100% / 12)*12);
  margin-left: 0;
}


